.wrapper {
  position: relative;
}
.input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.label {
  font-family: "Arial";
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 18px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.input:focus ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 14px;
}
.input:valid {
  border-color: #03e9f4;
}
